html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(0.25turn, #003a6f, #383838);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.container {
  height: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 10%;
}

.wrapper {
  color: #f8f8ff;
  text-align: center;
}

button {
  background: #fff;
  color: black;
  border: solid 1px #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  padding: 12px 5px;
  width: 120px;
  margin: 15px;
  outline: none;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 0 10px #ffffff;
  font-weight: bold;
}

.imgs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img {
  max-width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
  }
}
